{% extends "product/base.html" %}
{% load thumbnail %}
{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.form.js"></script>
{% endblock %}
{% block css %}
{{ block.super }}
    <style type="text/css">
        .alt{
            font-style: italic;
            color: #666;
            font-family:"Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",Georgia,serif;
        }
        ul.inline{
            list-style-type: none;
            display: block;
            margin: 0;
            padding: 0;
        }
        
        ul.inline li{
            display: inline;
            margin: 5px;
        }
        ul.inline li img{
            margin: 0;
            padding: 0;
        }

    </style>
    <script type="text/javascript"> 
        // wait for the DOM to be loaded 
        $(document).ready(function() { 
            // bind 'myForm' and provide a simple callback function 
            $('#stock_query').ajaxForm(function(response_text) { 
                alert(response_text); 
            }); 
        }); 
    </script> 
{% endblock %}
{% block rightheader %}
    <a href="{% url product_list_view %}">&lt;... Back to Listing</a>
{% endblock %}
{% block content %}
{{ block.super }}
<div class="container">
    <div class="span-18 border">
    <h1> Product Detail </h1>
    </div>
    <div class="span-6 last">
    <form action="{% url product_list_view %}" method="get">
    <label for="id_filter">Search: </label>
    <input type="text" name="filter" id="id_filter" />
    <input type="submit" value="go" />
    </form>
    </div>
    <hr/>
        <h2 class="alt">{{ product.item_number }}{% if product.title %} - {{ product.title }} {% endif %}</h2>
    <hr/>
    <div class="span-18 border">
        <p class="text">
            {% if product.pictures.all %}
                {% thumbnail product.pictures.all.0.file 300x5000 as thumb %}
                <img class="top pull-1 left" alt="{{ product.pictures.all.0.title }}" src="{{ thumb.absolute_url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
            {% endif %}
            {{ product.description }}
        </p>
    </div>
    <div class="span-6 last">
        <h6>Category</h6>
        <p>{{ product.category }} </p>

        {% for picture in product.pictures.all %}
        {% if forloop.first %}
        <h6>Pictures</h6>
        <ul class="inline">
        {% endif %}
        {% thumbnail picture.file 90x90 crop upscale as thumb %}
        <li><a href="{{ picture.file.url }}"><img src="{{ thumb.absolute_url }}" alt="{{ picture.title }}" width="{{ thumb.width }}" height="{{ thumb.height }}" /></a></li>
        {% if forloop.last %}
        </ul>
        {% endif %}
        {% endfor %}

        {% for document in product.documents.all %}
        {% if forloop.first %}
        <h6>Documents</h6>
        <ol>
        {% endif %}
        <li><a href="{{ document.file.url }}"> {{ document }}</a></li>
        {% if forloop.last %}
        </ol>
        {% endif %}
        {% endfor %}
        {% if perms.product.rest_can_see_quantity %}
            {% for inventory in product.inventories.all %}
                {% if forloop.first %}
                <h6>Stock</h6>
                <ul>
                {% endif %}
                <li>
                {{ inventory.warehouse }}: {{inventory.quantity }}
                </li>
                {% if forloop.last %}
                </ul>
                {% endif %}
            {% endfor %}
        {% else %}
            <h6>Stock Query</h6>
            <p>
            You can check the availability of this apparel by entering the quantity you need bellow.
            </p>

            <form id="stock_query" action="{% url ajax_stock_available product.item_number %}" method="post">
            <input type="text" name="quantity" size="5" />
            <input type="submit" value="query" />
            </form>
        {% endif %}
    </div>
</div>


{% endblock %}

