<html>
<head>
    
{% block js %}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    <style type="text/css">
        a:hover{
            color: #2B5C8C;
            text-decoration: underline;
        }
        a{
            text-decoration: none;
            color: #4183C4;
            font-weight: bold;
        }
        .alt{
            font-style: italic;
            color: #666;
            font-family:"Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",Georgia,serif;
        }
    </style>
{% endblock %}
</head>
</body>
<div class="container">
{% block content %}
{% endblock %}
    <div id="footer" class="span-24">
    <p class="text alt">texts, pictures and documents contained on this page are <span class="loud">copyright &copy;2009 fulham inc.</span></p>
    </span>
</div>
<body>
</html>
