{% extends "base.html" %}
{% load thumbnail %}
{% block css %}
{{ block.super }}
    <style type="text/css">
        label{
            float: left;
            display: block;
            width: 10em;
            margin: 0.5em 0;
        }
        
        p{
            margin: 1em;
        }

    </style>
{% endblock %}
{% block content %}

<div class="container">


    <h1> login </h1>
    <hr/>
{% if form.errors %}
<div class="span-8"> &nbsp; </div>
<div class="error span-8">
Your username and password didn't match. Please try again.
</div>
<div class="clear">
{% endif %}
<div class="span-7"> &nbsp;</div>
<div class="span-10" style="border: 2px solid lightgray; background-color: #f8f8f8;">
<form method="post" action="{% url django.contrib.auth.views.login %}">

    <p>
    {{ form.username.label_tag }}
    {{ form.username }}
    </p>
    <p>
    {{ form.password.label_tag }}
    {{ form.password }}
    </p>

    <p>
        <input type="submit" value="login" />
    </p>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% endblock %}

